<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlmtZ-CUpwOe2Jk4alGriQQCwLPa3IkhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>939391416372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.acmwWeatherDemo</string>
	<key>PROJECT_ID</key>
	<string>acmw-demo-test</string>
	<key>STORAGE_BUCKET</key>
	<string>acmw-demo-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939391416372:ios:f6b41f6b1fffd9a036f261</string>
</dict>
</plist>